.card{
    
    position: relative;
    width:80%;
    height:80%;
    margin-top:5%;
    margin-left:10%;
    flex-shrink:0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.22);
    /* color:#EEE6CA; */
    border-radius: 20px ;
    
    
    
    
}
h5,h6{
    margin:0;
    font-size: clamp(10px, 2.6vmin, 30px);
}